.gradientbutton {
    background: #00E0B0;
    border: none;
    width: 25%;
    line-height: 30vh;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 24px;
}
.buttonplus {
    background-color: #E77AFF;
    border: none;
    width: 10%;
    line-height: 8vh;
    font-size: 48px;
    color: #FFFFFF;
    border-radius: 24px;
}

.button:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
